/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
    font-weight: 600;
}

h3,
h4 {
    color: white;
}

h3 {
    font-size: 15px;
}

a, h5 {
    color: #52565C;
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-flow: column;
}

/* hover */
a:hover,
i:hover {
    color: white;
}

#icon:hover {
    color: white;
}

#upgrade a:hover,
.fa-play-circle:hover {
    transform: scale(1.1);
}

.progressive-bar:hover .progressive {
    border:2px solid #90D431;
}

.xs-menu a:nth-child(2):focus,
.xs-menu a:nth-child(3):focus,
.xs-menu a:nth-child(4):focus,
.md-menu a:nth-child(2):focus,
.md-menu a:nth-child(3):focus,
.md-menu a:nth-child(4):focus {
    border-left: 2px solid #90D431;
}

#nav-menu a:focus span {
    width: 30px;
    height: 2px;
    background-color: #90D431;
}

/* body */
body {
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #90D431;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a7ce71;
}

main {
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: auto;
    background-color: #151A22;
}
/* header */

/* nav */
.xs-menu,
.md-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 230px;
    height: calc(100vh - 70px);
    padding: 20px 0;
    background-color: #000000;
}

.xs-menu a,
.md-menu a,
.md-menu h4 {
    font-size: 13px;
    line-height: 15px;
    padding: 8px 20px;
}

#logo {
    width: 100px;
}

.xs-menu img,
.md-menu img,
.nav-end img,
i {
    width: 20px;
    margin-right: 3px;
    vertical-align: middle;
    color: #52565C;
}

/* nav-center */
.nav-center {
    overflow-y: auto;
}

/* nav-end */
.nav-end {
    justify-self: flex-end;
}

.nav-end h4 {
    padding-left: 3px;
}

.nav-end span {
    width: 80%;
    margin: 3px 20px;
    height: 1px;
    border: 0.5px solid #52565C;
}

.nav-end img {
    height: 15px;
}

.nav-end #profile {
    margin-right: 6px;
    border-radius: 50%;
    background-color: #52565C;
}

.nav-end h4 {
    display: inline-block;
}

#icon {
    margin-right: 10px;
    vertical-align: middle;
}

/* main */

/* upgrade */
#upgrade {
    position: fixed;
    width: calc(100% - 230px);
    z-index: 1;
    height: 70px;
    padding: 16px 10px 0 0;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.4);
}

#upgrade a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 12px;
    color: white;
    background-color: #090B12;
    transition: transform 0.5s;
}

/* nav-menu */
#nav-menu {
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
}

#nav-menu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 15px;
    margin-bottom: 50px;
}

/* recent-played */
.wrapper-90 {
    width: 95%;
    margin: 0 auto;
}

.wrapper-90 h2 {
    margin-bottom: 10px;
}
.main-list {
    flex-wrap: wrap;
    margin: 30px 0;
}

.cover-container {
    width: 170px;
    margin: 15px 15px 15px 0;
}

.cover {
    position: relative;
    width: 170px;
    height: 170px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay .fa-play-circle {
    display: none;
}

.overlay:hover .fa-play-circle {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 35px;
    color: white;
}

.cover img,
.play img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-text {
    margin-top: 10px;
    padding: 5px 5px;
    text-align: center;
}

#popular {
    border-radius: 50%;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 80px;
    background-color: #282828;
}

/* play-left */
.play h4,
.play h5 {
    font-size: 12px;
}

.play {
    justify-content: center;
    align-items: center;
    width: 230px;
}

.play-left-cover {
    width: 70px;
    height: 70px;
    padding: 10px 10px;
}

.play-left-text {
    margin-right: 5px;
}

.play i {
   padding: 15px;
}

/* play-center */
.play-center {
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 80px;
}

.play-center i,
.play-center span {
    color: white;
}

.play-center span {
    font-size: 12px;
}

.play-center i {
    padding: 0 20px 0 20px;
}

.play-center-row {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.play-center .fa-play-circle {
    font-size: 30px;
    padding-right: 35px;
}

.progressive-bar {
    position: relative;
    width: 100%;
    margin: 0 10px 0 10px;
    border: 2px solid #5A5A5A;
    border-radius: 10px;
}

.progressive {
    justify-content: flex-end;
    position: absolute;
    top: -1.9px;
    left: -2px;
    width: 30%;
    border: 2px solid #C1C1C1;
    border-radius: 10px;
}

.cursor {
    position: absolute;
    top: -7.5px;
    right: -4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}

/* play-left */
#left i {
    color: white;
}

/* mediaquires */
@media (max-width: 425px){
    .xs-menu {
       width: 50px;
    }

    .md-menu {
        display: none;
    }

    .xs-menu {
        padding: 12px 15px;
    }

    .xs-menu a {
        padding: 2px;
    }

    .xs-menu a img:nth-of-type(1) {
        width: 20px;
    }

   #upgrade {
        width: calc(100% - 50px);
    }

}

@media (min-width: 426px){

    .xs-menu {
        display: none;
    }
}

@media (max-width: 767px){
    footer i {
        font-size: 10px;
    }

    .play {
        width: 100px;
    }

    .play-center i {
        padding: 0 5px 0 5px;
    }

    .play i {
        padding: 2px;
    }

    .play-left-cover {
        width: 50px;
        height: 50px;
    }

    .play h4,
    .play h5 {
        font-size: 8px;
    }
}

@media (min-width: 320px) and (max-width: 1200px){
    h3 {
        font-size: 12px;
    }

    .cover {
        width: 130px;
        height: 130px;
    }

    .cover-container {
        width: 130px;
        margin: 15px 5px 15px 0;
    }

    .wrapper-90 {
        width: 97%;
        margin: 0 auto;
    }
}