/* common */
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

h2 {
    color: white;
    font-weight: 600;
}

h3,
h4 {
    color: white;
}

h3 {
    font-size: 15px;
}

a, h5 {
    color: #52565C;
    text-decoration: none;
}
/* debug */

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
}

main {
    width: 100%;
    height: calc(100vh - 50px);
    overflow-y: auto;
    background-color: #151A22;
}
/* header */

/* nav */
.md-menu,
.xs-menu {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: calc(100vh - 70px);
    padding: 20px 20px 20px 20px;
    background-color: #000000;
}

nav img {
    width: 110px;
}

nav a {
    font-size: 13px;
    line-height: 15px;
    padding: 8px 0;
}
.nav-center {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    height: 100%;
    overflow-y: auto;
}

.icon,
.nav-end img,
i {
    width: 20px;
    margin-right: 3px;
    vertical-align: middle;
    color: #52565C;
}
.nav-end {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav-end img {
    width: 15px;
}

.nav-end #profile {
    margin-right: 6px;
    border-radius: 50%;
    background-color: #52565C;
}

.nav-end h4 {
    display: inline-block;
}

#icon {
    margin-right: 10px;
    vertical-align: middle;
}

/* main */

/* upgrade */
#upgrade {
    position: fixed;
    width: calc(100% - 230px);
    height: 70px;
    padding: 24px 15px 0 0;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.4);
}

#upgrade a {
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    background-color: #090B12;
}

/* nav-menu */
#nav-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
}

#nav-menu a {
    padding: 2px 15px;
    margin-bottom: 50px;
}

/* recent-played */
.wrapper-90 {
    width: 95%;
    margin: 0 auto;
}

.main-list {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.cover-container {
    width: 170px;
    margin: 15px 15px 15px 0;
}

.cover {
    width: 170px;
    height: 170px;
}

.cover img,
.play img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-text {
    margin-top: 10px;
    padding: 5px 5px;
    text-align: center;
}

#popular {
    border-radius: 50%;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 80px;
    background-color: #282828;
}

.play h4, 
.play h5 {
    font-size: 12px;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
}

.play-left-cover {
    width: 70px;
    height: 70px;
    padding: 10px 10px;
}

.play-left-text {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.play i {
   padding: 15px;
}

.play-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 80px;
}

.play-center i,
.play-center span {
    color: white;
}

.play-center span {
    font-size: 12px;
}

.play-center i {
    padding: 0 20px 0 20px;
}


.play-center-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.play-center .fa-play-circle {
    font-size: 30px;
    padding-right: 35px;
}

.progressive-bar {
    position: relative;
    width: 100%;
    margin: 0 10px 0 10px;
    border: 2px solid #5A5A5A;
    border-radius: 10px;
}

.progressive {
    position: absolute;
    top: -1.9px;
    left: -2px;
    width: 30%;
    border: 2px solid #C1C1C1;
    border-radius: 10px;
}

#left i {
    color: white;
}




/* mediaquires */
@media (max-width: 425px){
   nav {
       width: 50px;
    }

    .md-menu {
        display: none;
    }
    
    .xs-menu a img:nth-of-type(1) {
        width: 20px;
    }

   #upgrade {
        width: calc(100% - 50px);
    }

}

@media (min-width: 425px){

    .xs-menu {
        display: none;
    }
}

@media (max-width: 767px){
    footer i {
        font-size: 10px;
    }

    .play {
        width: 100px;
    }

    .play-center i {
        padding: 0 5px 0 5px;
    }

    .play i {
        padding: 2px;
    }

    .play-left-cover {
        width: 50px;
        height: 50px;
    }

    .play h4, 
    .play h5 {
        font-size: 8px;
    }
}

@media (min-width: 320px) and (max-width: 1200px){
    h3 {
        font-size: 12px;
    }

    .cover {
        width: 130px;
        height: 130px;
    }

    .cover-container {
        width: 130px;
        margin: 15px 5px 15px 0;
    }

    .wrapper-90 {
        width: 97%;
        margin: 0 auto;
    }
}