/* common */
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

h1 {
    color: white;
    font-weight: 600;
}

h3,
h4 {
    color: white;
}

a, h5 {
    color: #52565C;
    text-decoration: none;
}
/* debug */

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
}

main {
    width: 100%;
    height: calc(100vh - 50px);
    overflow-y: auto;
    background-color: #151A22;
}
/* header */

/* nav */
nav {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 170px;
    height: calc(100vh - 100px);
    padding: 20px 20px 20px 20px;
    background-color: #000000;
}

nav img {
    width: 110px;
}

nav a {
    font-size: 13px;
    line-height: 15px;
    padding: 8px 0;
}

.icon,
.nav-end img {
    width: 20px;
    margin-right: 3px;
    vertical-align: middle;
    color: #52565C;
}
.nav-end {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.nav-end img {
    width: 15px;
}

.nav-end #profile {
    margin-right: 6px;
    border-radius: 50%;
    background-color: #52565C;
}

.nav-end h4 {
    display: inline-block;
}

#icon {
    margin-right: 10px;
    vertical-align: middle;
}

/* main */

/* upgrade */
#upgrade {
    position: fixed;
    width: calc(100% - 170px);
    height: 70px;
    padding: 24px 15px 0 0;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.4);
}

#upgrade a {
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    background-color: #090B12;
}

/* nav-menu */
#nav-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
}

#nav-menu a {
    padding: 2px 15px;
    margin-bottom: 50px;
}

/* recent-played */
.wrapper-90 {
    width: 95%;
    margin: 0 auto;
}

.main-list {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}

.cover-container {
    width: 250px;
    margin: 15px 15px 0 0;
}

.cover {
    width: 250px;
    height: 250px;
}

.cover img,
.play-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-text {
    text-align: center;
}

#popular {
    border-radius: 50%;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #282828;
}
footer {
    display: flex;
    justify-content: space-between;
}
.play-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-left-cover {
    width: 80px;
    height: 80px;
    padding: 10px 10px;
}


/* mediaquires */
@media (max-width: 425px){
   nav {
       width: 50px;
   }

   #upgrade {
    width: calc(100% - 50px);
}
}